@charset "UTF-8";
body {
    background-color: #dddddd;
    color: rgb(27, 39, 39);
    font-family: Arial, sans-serif;
}

p {
    text-align: justify;
    text-indent: 20px;
}

a {
    text-decoration: none;
}

div#interface {
    width: 1000px;
    background-color: #ffffff;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    padding: 10px 30px 10px 30px;
}

header#cabecalho figure#icone, header#cabecalho figure#icone-specs {
    position: absolute;
    left: 1250px;
    top: 50px;
}

figure#icone figcaption {
    display: none;
}

header#cabecalho {
    border-bottom: 1px #606060 double;
    height: 150px;
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 90px;
}

header#cabecalho h1 {
    font-family: url("../_fonts/computer-font.ttf"), sans-serif;
    font-size: 30pt;
    color: #555555;
    padding: 0;
    margin-bottom: 0px;
}

header#cabecalho h2 {
    font-family: url("../_fonts/bubblegum-sans-regular.otf");
    font-size: 15pt;
    color: #888888;
    padding: 0;
    margin-top: 0px;
}

/* Formatação de imagens com legendas */

figure.foto-legendada {
    /* Vamos trabalhar com a classe "foto-legendada" */
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
}

figure.foto-legendada img {
    /* Mudando a exibição da imagem da classe para 100% */
    width: 100%;
    height: 100%;
}

figure.foto-legendada figcaption {
    /* Mudando atributos da legenda da classe */
    font-size: large;
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, .4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

figure.foto-legendada:hover figcaption {
    /* Usamos "hover" para dizer que uma mudança ocorrerá quando o mouse passar
     por cima da imagem. */
    opacity: 1;
}

/* Formatação do Menu */

nav#menu {
    display: block;
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 800px;
}

nav#menu li {
    display: inline-block;
    background-color: rgba(179, 206, 228, 0.3);
    padding: 10px;
    margin: 2px;
}

nav#menu li:hover {
    transition: background-color 0.5s;
    background-color: rgba(0, 0, 0, 1);
}

nav#menu li:hover>a {
    transition: background-color 0.5s;
    transition: color 0.5s;
    color: rgba(255, 255, 255, 1);
    text-decoration: underline;
}

nav#menu h1 {
    display: none;
}

nav#menu a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

/* Configuração da section corpo */

section#corpo {
    display: block;
    width: 550px;
    float: left;
    padding-right: 10px;
}

/* Configuração do artigo dentro da section corpo */

article#noticia-principal h2 {
    font-size: 12pt;
    color: #555555;
    background-color: #dddddd;
    padding: 5px 0px 5px 10px;
    margin: 10px 5px 10px 5px;
}

header#cabecalho-artigo h1 {
    font-family: url("../_fonts/computer-font.ttf"), sans-serif;
    font-size: 20pt;
    color: #505050;
    margin-bottom: 0px;
}

header#cabecalho-artigo h2 {
    font-size: 13pt;
    color: #cecece;
    background-color: #ffffff;
    padding-left: 0px;
    margin: 0px;
}

header#cabecalho-artigo h3 {
    font-size: 12pt;
    color: #303030;
}

header#cabecalho-artigo h3 span {
    display: block;
    text-align: right;
}

table#especificacoes {
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}

table#especificacoes caption {
    color: #888888;
    font-size: 13pt;
    font-weight: bold;
}

table#especificacoes caption span {
    display: block;
    float: right;
    color: black;
    font-size: 10pt;
    margin-top: 8px;
    font-weight: normal;
}

table#especificacoes td {
    border: 1px solid #606060;
    padding: 10px;
}

table#especificacoes td.titulo {
    text-align: right;
    color: white;
    background-color: #606060;
    font-weight: normal;
    vertical-align: top;
}

table#especificacoes td.dado {
    text-align: center;
    background-color: #cfcfcf;
}

aside#lateral {
    background-color: #cfcfcf;
    display: block;
    border-left: 1px double black;
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    width: 400px;
    float: right;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

aside#lateral h1 {
    font-family: url("../_fonts/computer-font.ttf"), sans-serif;
    font-size: 20pt;
    color: #505050;
}

aside#lateral h2 {
    font-family: sans-serif;
    font-size: 13pt;
    background-color: #606060;
    color: #ffffff;
    padding: 5px;
    text-align: left;
}

footer#rodape {
    border-top: 1px double black;
    padding-top: 5px;
    clear: both;
}

footer#rodape p {
    text-align: center;
}

/* Configurações da seção corpo da página specs.html */

section#corpo-specs h1 {
    background-color: rgba(255, 255, 255, 0);
}

header#cabecalho figure#icone-specs {
    top: 40px;
}